*{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(84, 79, 79);
}
header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
header h1{
    color: red;
    text-align: center;
    padding: 2rem 0.5rem;
    background: linear-gradient(to bottom, lightblue,purple);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.header-task{
    display: flex;
    justify-content: center;
}
.header-task input{
    border: none;
    margin:0 0.5em;
    max-width: 600px;
    width: 90%;
    border-radius:5px ;
    background-color: rgb(96, 95, 95);
    color: white;
    font-size: 16px;
    padding: 1rem;
    /* cursor: pointer; */
}
.header-task input:hover{
    cursor: pointer;
}
.header-task input::placeholder{
    color: white;
}
.addbtndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
#addbtn{
    border:none;
    padding: 1rem;
    font-size: 16px;
    border-radius: 5px;
    cursor:pointer;
    color: #fff;
    background-color: rgb(98, 179, 206);
}
.search-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    border: none;
    border-radius:5px;
    background-color: #fff;
    width: 400px;
    padding: 0.5rem;
    margin: 1rem;
}
.search::placeholder{
    font-size: 16px;
}
.priority{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.priority h3{
    font-weight: 100;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.priority button{
    padding: 0.5rem;
    background-color: rgb(98, 179, 206);
    border: none;
    border-radius:5px;
    margin: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.highlight{
    border: 3px solid white !important;
    font-size: 20px !important;
}
.no-task-block{
    display: none !important;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.taskblock{
    background-color: #5c5b5b;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin: 5px;
    flex: 1 1 0;
    width: 600px;
}
.tasktext::-webkit-scrollbar{
    display: none;
}
.tasktext{
    width: 85%;
   
    /* background-color: pink !important; */
    overflow-x: auto;
    /* color: green; */
}
