
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.heading{
    width: fit-content;
    margin:0 auto;
    font-weight:bolder;
    font-size:xxx-large;
    background: linear-gradient(to right, rgb(31, 31, 107),rgb(75, 162, 192),rgb(214, 94, 214),rgb(220, 107, 126)); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.form{
    margin: 0 auto;
    width: 60%;
    display: flex;
}
#taskCollector{ 
    height: 40px;
    border-radius: 5px;
    border: 3px solid rgb(31, 31, 107);
    width:60%;
    margin-right: 10px;
}
.addbtn{
    margin-left: 10px;
    width:20%;
    border-radius:5px;
    border: 3px solid rgb(31, 31, 107);
    font-weight: 900;
    font-size:medium;
    background: linear-gradient(to right, rgb(31, 31, 107),rgb(75, 162, 192),rgb(214, 94, 214),rgb(220, 107, 126)); 
    color:white;
    
}
.addbtn:hover{
    cursor: pointer;
}
select{
    width:20%;
    border-radius: 5px;
    border:3px solid rgb(31, 31, 107);
}
.notaskdiv{
    margin: 30px auto;
    width:80%;
    border: 1px solid black;
    border-radius: 100px;
    background: linear-gradient(to right, rgb(31, 31, 107),rgb(75, 162, 192),rgb(214, 94, 214),rgb(220, 107, 126)); 
    text-align: center;
    font-size: xx-large;
    color: white;
}
.task{
    width:80%;
    height: 50px;
    /* background-color: green; */
    border: 3px solid rgb(31,31,107);
    border-radius: 10px;
    /* padding: 1rem; */
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
}
.editbtn{
  width:55px;
  height:30px;
  margin: 5px;
  color: white;
  font-weight: bolder;
  border: 3px solid rgb(31,31,107);
  border-radius: 5px;
  background: linear-gradient(to right, rgb(31, 31, 107),rgb(75, 162, 192),rgb(214, 94, 214),rgb(220, 107, 126)); 
}
.delbtn{
    width:55px;
    height:30px;
    margin: 5px;
    color: white;
    font-weight: bolder;
    border: 3px solid rgb(31,31,107);
    border-radius: 5px;
    background: linear-gradient(to right, rgb(31, 31, 107),rgb(75, 162, 192),rgb(214, 94, 214),rgb(220, 107, 126)); 
  }
.tasktext{
    width: 55%;
    overflow-x: auto; 
    /* background-color: pink; */
}
.btndiv{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    /* border: 3px solid purple; */
}
.tasktext::-webkit-scrollbar{
    display: none;
}
.search{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchinput{
    display: flex;
    margin: 10px;
    width: 60%;
    padding: 0.5rem;
    border: 3px solid rgb(31, 31, 107);
    border-radius: 10px;
}

.addbtn:active{
    width:20%;
    animation-name: example;
    animation-duration: 0.1s;
}
@keyframes example {
    0%{font-size: medium;}
    50%{ font-size: larger;}
    100%{ font-size: medium;}
}